@model IEnumerable<string>
@{
    ViewData["Title"] = "Index";
}
<h2 class="text-muted">All Blog Posts</h2>
<ul>
    @foreach (string category in Model)
    {
        <li><a href="/post/list/@category">@category</a></li>
    }
</ul>
