@model IList<Post>
@{
    ViewData["Title"] = "List";
}
<div><label></label></div>
<h3 class="text-muted">Posts Lists - @ViewContext.RouteData.Values["id"]</h3>
<ul>
    @foreach (Post p in Model)
    {
        <li>
            <a href="@p.URL">@p.Title</a>
            <p>@p.Description</p>
        </li>
    }
</ul>
<div>
    <a asp-action="Index">Back to Post List</a>
</div>