@model Donald_Boulton.Models.Post

@{
    ViewData["Title"] = "AWS Free Tier";
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}
<div class="row">
    <div class="media">
        <img title="Letter Avatar" class="img-fluid mr-3" alt="img" src="~/images/pages/svg/AWS_Free_Tier.svg" itemtype="https://schema.org/ImageObject" itemscope="" itemprop="image" />
        <div class="media-body">
            <div itemprop="description">
                <p><span class="headline">AWS Free Tier</span></p>
                <p>Got really burnt out on old Shared Server junk on WinHost.com. And Since I was going to change AWS Free was the best choice.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <p>Adding My expirences with AWS Free Tier, ASP.Net Core 2 v2.0.5 with jquery 3.0.2 and bootstrap 4 beta 3. On AWS Elastic Beanstalk, SQL Enterprise Server and AWS S3 storage. Just to mention a few of the included services in AWS Free Tier.</p>
</div>

<div>
    <a asp-action="Blog">Back to Blog List</a>
</div>
