@model Mansbooks.Models.Post
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}

<div class="card-columns">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header"><h4>Letter Avatar</h4></div>        
            <a asp-controller="Blog" asp-action="Letter_Avatar"><img class="card-img-top img-fluid" src="https://d13ie4yeey2dtq.cloudfront.net/img/myLetterAvatar.svg" alt="Card image cap">
        </a>
        <div class="card-body">
            <h5 class="card-title">Letter Avatar replacing the Slow Gravatar Service</h5>
            <p class="card-text">Gravatar makes multiple calls to gravatar service's and its down alot, most people do not even know about Gravatar...</p>
            <footer class="card-footer">
                <small class="text-muted">
                    Post Date : <cite title="Created Date">November 15 2016</cite>
                </small>
                <small class="text-muted">
                    Updated : <cite title="Updated Date">Feburary 05 2018</cite>
                </small>
            </footer>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <div class="card-header"><h4>Website Performance</h4></div>
        <a asp-controller="Blog" asp-action="Website_Performance"><img class="card-img-top img-fluid" src="https://d13ie4yeey2dtq.cloudfront.net/img/orchardburning.svg" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Using web.config Changes, Gzip, HTTP Headers</h5>
            <p class="card-text">Gravatar makes multiple calls to gravatar service's and its down alot, most people do not even know about Gravatar...</p>
            <footer class="card-footer">
                <small class="text-muted">
                    Post Date : <cite title="Created Date">December 21 2016</cite>
                </small>
            </footer>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <div class="card-header"><h4>Windows Tweaks</h4></div>
        <a asp-controller="Blog" asp-action="Windows_Tweaks"><img class="card-img-top img-fluid" src="https://d13ie4yeey2dtq.cloudfront.net/img/windows7tweaks.svg" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Windows XP to Windows 10 Tweaks</h5>
            <p class="card-text">This page is my additions to Normal Vista\Seven\Windows 8 and windows 10 Tweaks. Some of these work on XP...</p>
            <footer class="card-footer">
                <small class="text-muted">
                    Post Date : <cite title="Created Date">June 08 2013</cite>
                </small>
                <div class="clearfix">&nbsp;</div>                
                <small class="text-muted">
                    Updated : <cite title="Updated Date">November 08 2016</cite>
                </small>
            </footer>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <div class="card-header"><h4>SQL Fragmentation</h4></div>
        <a asp-controller="Blog" asp-action="Check_Fragmentation"><img class="card-img-top img-fluid" src="https://d13ie4yeey2dtq.cloudfront.net/img/check_sql_fragmentation-min.svg" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Script To Check SQL Fragmentation</h5>
            <p class="card-text">This T-SQL sample script illustrates how to check index fragmentation of a specified database in SQL Server...</p>
            <footer class="card-footer">
                <small class="text-muted">
                    Post Date : <cite title="Created Date">August 19 2013</cite>
                </small>
            </footer>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <div class="card-header"><h4>Defrag SQL Index</h4></div>
        <a asp-controller="Blog" asp-action="SQL_Defrag"><img class="card-img-top img-fluid" src="https://d13ie4yeey2dtq.cloudfront.net/img/defrag-sql-2014.svg" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Script To Check SQL Fragmentation</h5>
            <p class="card-text">This T-SQL sample script illustrates how to check index fragmentation of a specified database in SQL Server...</p>
            <footer class="card-footer">
                <small class="text-muted">
                    Post Date : <cite title="Created Date">September 01 2013</cite>
                </small>
            </footer>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <div class="card-header"><h4>SQL Sessions</h4></div>
        <a asp-controller="Blog" asp-action="SQL_Session_State"><img class="card-img-top img-fluid" src="https://d13ie4yeey2dtq.cloudfront.net/img/sql_session_state.svg" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Session State using SQL Server</h5>
            <p class="card-text">This page is about ASP.NET Session State and or in some cases to use SQL Session state over the normal in-proc session state...</p>
            <footer class="card-footer">
                <small class="text-muted">
                    Post Date : <cite title="Created Date">March 05 2014</cite>
                </small>
            </footer>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <div class="card-header"><h4>Mobile Colorbox</h4></div>
        <a asp-controller="Blog" asp-action="Mobile_Colorbox"><img class="card-img-top img-fluid" src="https://d13ie4yeey2dtq.cloudfront.net/img/mobile_colorbox.svg" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Fully Responsive Mobile Colorbox</h5>
            <p class="card-text">Mobile First Responsive Colorbox Window to Open and Link, div, code, about anything including a iframe using external data, within Bootstrap 4 beta 3...</p>
            <footer class="card-footer">
                <small class="text-muted">
                    Post Date : <cite title="Created Date">August 09 2015</cite>
                </small>
            </footer>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <div class="card-header"><h4>Social Sharing</h4></div>
        <a asp-controller="Blog" asp-action="Social_Sharing"><img class="card-img-top img-fluid" src="https://d13ie4yeey2dtq.cloudfront.net/img/social_sharing.svg" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Social Sharing NO .js</h5>
            <p class="card-text">Using just links and one simple Orchard module Mofit.Social to model the url of the page your sharing...</p>
            <footer class="card-footer">
                <small class="text-muted">
                    Post Date : <cite title="Created Date">September 21 2016</cite>
                </small>
            </footer>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <div class="card-header"><h4>AWS Free Tier</h4></div>
        <a asp-controller="Blog" asp-action="AWS_Free_Tier"><img class="card-img-top img-fluid" src="https://d13ie4yeey2dtq.cloudfront.net/img/powered-by-aws-white.svg" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">AWS Free Tier</h5>
            <p class="card-text">Got really burnt out on old Shared Server junk on WinHost.com. And Since I was going to change AWS Free Tier was the best choice.</p>
            <footer class="card-footer">
                <small class="text-muted">
                    Post Date : <cite title="Created Date">Feburary 05 2018</cite>
                </small>
            </footer>
        </div>
    </div>
</div>