.btn-primary {
    background-color: #71ba70 !important;
    border-color: #71ba70 !important;
    color: #fff !important;
}
.btn-primary:hover {
    background-color: #71ba70 !important;
    border-color: #71ba70 !important;
    color: #fff !important;
}
ul.social-buttons:hover {
    margin-bottom: 0;
    color:#fff!important
}
.social-buttons:hover {
    margin-bottom: 0;
    color: #fff !important
}
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover{color:#fff!important}
.masthead-contact {
    text-align: left!important;
    color: #fff;
    background-attachment: scroll;
    padding-top: 100px
}
.carousel-caption p {
    font-size: 18px;
    line-height: 1.4
}

.carousel-item {
    height: initial !important;
    max-width: 900px !important;
    width: 900px !important
}

@media screen and (max-width:767px) {
    .carousel-caption {
        display: none
    }
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%
}
#qrCode {
    margin: 15px
}
.form-control1{padding:1rem}
