.btn-primary {
    background-color: #71ba70 !important;
    border-color: #71ba70 !important;
    color: #fff !important;
}
.btn-primary:hover {
    background-color: #71ba70 !important;
    border-color: #71ba70 !important;
    color: #fff !important;
}
ul.social-buttons:hover {
    margin-bottom: 0;
    color:#fff!important
}
.social-buttons:hover {
    margin-bottom: 0;
    color: #fff !important
}
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover{color:#fff!important}