<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta name="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="robots" Content="index, follow, archive">
    <meta name="revisit-after" Content="3 days">
    <meta name="apple-mobile-web-app-capable" Content="yes">
    <meta name="expires" Content="Mon, 06 Jan 2020 21:31:12 GMT">
    <meta name="author" Content="Donald Boulton">
    <meta name="fb:app_id" Content="322180367845124">
    <meta name="twitter:url" Content="https://mansbooks.com">
    <meta name="twitter:thumbnailUrl" Content="https://d13ie4yeey2dtq.cloudfront.net/donald-boulton_100.jpg">
    <meta name="twitter:id" Content="105217183">
    <meta name="twitter:creator:id" Content="105217183">
    <meta name="twitter:widgets:theme" Content="dark">
    <meta name="twitter:widgets:link-color" Content=" #71ba70">
    <meta name="twitter:widgets:border-color" Content="#282A2B">
    <meta name="name" Content="Mansbooks">
    <meta name="InLanguage" Content="en-US">
    <meta name="google-signin-clientid" Content="857761645811-u1iefg2lorg7aqoiat9vkn1d146n8lkp.apps.googleusercontent.com">
    <meta name="google-signin-scope" Content="https://www.googleapis.com/auth/plus.login">
    <meta name="google-signin-requestvisibleactions" Content="http://schema.org/AddAction">
    <meta name="google-signin-cookiepolicy" Content="single_host_origin">
    <meta name="specificfeeds-verification-code" content="w48MyShCerwN6kA3DklR" />
    <meta name="pjax-timeout" content="1000">
    <meta http-equiv="x-pjax-version" content="d4d26263aff43b9e6848743a02fdedef">
    <meta name="theme-color" content="#212529">
    <title>@ViewData["Title"] - Mansbooks</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" />
    <link rel="stylesheet" href="https://d13ie4yeey2dtq.cloudfront.net/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://d13ie4yeey2dtq.cloudfront.net/css/agency.min.css" />
    <link rel="stylesheet" href="https://d13ie4yeey2dtq.cloudfront.net/css/sitenew.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" />
    <link rel='shortcut icon' type='image/x-icon' href='https://d13ie4yeey2dtq.cloudfront.net/favicon.ico' />
</head>
<body class="style-3" data-twttr-rendered="true" id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand-image" href="/"><img src="https://d13ie4yeey2dtq.cloudfront.net/spinningworld48.gif" /></a><a class="navbar-brand" href="#page-top">&nbsp;&nbsp;Mansbooks</a></div>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" aria-controls=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation" data-target=".navbar-collapse"> <span class="navbar-toggler-icon"></span> </button>
            <div class="navbar-collapse mr-auto collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Blog" asp-action="Blog">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Contact" asp-action="Contact">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-briefcase"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            Pages &nbsp;&nbsp;<i class="fas fa-link"></i>
                            <div class="dropdown-divider"></div>
                            <div><a asp-controller="Home" asp-action="Index">Home</a></div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Contact" asp-action="About">About</a>
                            <a class="dropdown-item" asp-controller="Contact" asp-action="Contact">Contact</a>
                            <a class="dropdown-item" asp-controller="Contact" asp-action="Search">Search</a>
                            <div class="dropdown-divider"></div>
                            Blogs  &nbsp;&nbsp;
                            <i class="fas fa-archive"></i>
                            <a class="dropdown-item" asp-controller="Blog" asp-action="Blog">Blogs</a>
                            <div class="dropdown-divider"></div>
                            Other Blogs &nbsp;&nbsp;
                            <i class="fas fa-external-link-alt"></i>
                            <a class="dropdown-item" href="http://bibwoe.com">Bibwoe</a>
                            <a class="dropdown-item" href="http://donboulton.com">Doanld Boulton</a>
                            <a class="dropdown-item" href="http://publiuslogic.com">Publiuslogic</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-sign-in-alt"></i> </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <div id="login-dropdown" class="group">
                                <div id="Login">
                                    <div class="user-actions">
                                        <div>
                                            @await Html.PartialAsync("_LoginPartial")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div>
                    <div>
                        <div id="customSearch">
                            <script type="text/javascript"
                                    id="bcs_js_snippet"
                                    src="https://ui.customsearch.ai/api/ux/render?customConfig=3836815317&&market=en-US&safeSearch=Moderate">
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <header id="layout-header" class="masthead-contact">
            <div id="header">
                <div class="intro-text">
                    <div class="intro-heeading text-muted"><h2>@ViewData["Title"]</h2></div>
                </div>
            </div>
        </header>
    </div>
    <div class="container body-content">
        <div id="body" data-pjax-container>
            @RenderBody()
        </div>        
        <section>
            <div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a target="_blank" href="https://aws.amazon.com/free/" data-toggle="tooltip" data-original-title="Built on and Powered by AWS Free Tier">
                            <img class="img-fluid d-block mx-auto" src="https://d13ie4yeey2dtq.cloudfront.net/img/powered-by-aws-white.svg" alt="AWS Powered">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a target="_blank" href="https://docs.microsoft.com/en-us/aspnet/core/getting-started" data-toggle="tooltip" data-origional-title="My Build with ASP.Net Core 2 v2.05">
                            <img class="img-fluid d-block mx-auto" src="https://d13ie4yeey2dtq.cloudfront.net/img/core2.svg" alt="Core 2 V2.05">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a target="_blank" href="http://blog.getbootstrap.com/2017/12/28/bootstrap-4-beta-3/" data-toggle="tooltip" data-origional-title="Built with Bootstrap 4 beta 3, and jquery 3.3.1">
                            <img class="img-fluid d-block mx-auto" src="https://d13ie4yeey2dtq.cloudfront.net/img/bootstrap.svg" alt="Bootstrap 4 beta 3">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a target="_blank" href="https://sendgrid.com/" data-toggle="tooltip" data-original-title="Custom Search With SendGrid">
                            <img class="img-fluid d-block mx-auto" src="https://d13ie4yeey2dtq.cloudfront.net/img/logo-description.svg" alt="Send Grid">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <span id="Copyright" class="Copyright">&copy; 2018 @@ <a data-rel="author" itemprop="url" data-toggle="tooltip" data-placement="top" href="https://plus.google.com/117122847504916016102?rel=author" rel="me" data-user-id="117122847504916016102" data-origional-title="Donald Boulton on Google + Posts and Discussions."><span itemprop="name">Mansbooks</span></a></span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons text-center">
                            <li class="list-inline-item"><a class="list-inline-item" data-toggle="tooltip" data-count="horizontal" href="https://twitter.com/intent/tweet?url=https://donboulton.com/&amp;text=DonaldBoulton&amp;via=donboulton" data-original-title="Twitter Share" data-user-id="105217183" target="_blank"> <i class="fab fa-twitter"></i> </a></li>
                            <li class="list-inline-item"><a data-toggle="tooltip" data-count="horizontal" data-original-title="My Github Projects, get involved in building the Books Of Life!" target="_blank" href="https://github.com/donaldboulton"> <i class="fab fa-github"></i> </a></li>
                            <li class="list-inline-item"><a data-toggle="tooltip" data-original-title="Mansbooks Slack, Join the team." data-count="horizontal" target="_blank" href="https://mansbooks.slack.com"> <i class="fab fa-slack"></i> </a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks text-center">
                            <li class="list-inline-item">
                                <a itemprop="url" data-toggle="tooltip" data-placement="top" data-origional-title="Privacy and Cookie Usage for Mansbooks Web Site" asp-controller="Contact" asp-action="Privacy">Privacy - Cookies</a>
                            </li>
                            <li class="list-inline-item">
                                <a itemprop="url" data-toggle="tooltip" data-placement="top" data-origional-title="Terms of Use" asp-controller="Contact" asp-action="Terms">Terms Of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://d13ie4yeey2dtq.cloudfront.net/js/jquery.min.js">
    </script>
    <script src="https://d13ie4yeey2dtq.cloudfront.net/js/app1.min.js">
    </script>
    <script src="https://apis.google.com/js/plusone.js"></script>
    <script>
        window.___gcfg = {
            lang: 'en-US',
            parsetags: ['explicit', 'onload']
        }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
    <script src="https://d13ie4yeey2dtq.cloudfront.net/js/prism.min.js" async defer></script>
    <script src="https://d13ie4yeey2dtq.cloudfront.net/js/clipboard.min.js"></script>
    <script src="https://d13ie4yeey2dtq.cloudfront.net/js/site.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-189365554"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA- 189365554');
    </script>
    <script type="text/javascript">
        $(".inline").colorbox({ inline: !0, width: '100%', rel: 'proflex' }); $('.inline_content').on('click', function () { $.fn.colorbox.prev() }); $('.inline_content').on('click', function () { $.fn.colorbox.next() }); $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            e.target
            e.relatedTarget
        })
    </script>
    <script>
        $(document).ready(function () {
            var clipboard = new Clipboard('.btn'); clipboard.on('success', function (e) { console.log(e) }); clipboard.on('error', function (e) { console.log(e) });
        });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-189365554"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA- 189365554');
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="application/ld+json">
        [{"@@context":"http://schema.org","@@type":"WebSite","url":"https://mansbooks.com/","potentialAction":{"@@type":"SearchAction","target":"https://query.mansbooks.com/search?q={q}","query-input":"required name=q"}},{"@@context":"http://schema.org","@@type":"SoftwareApplication","name":"Mansbooks","operatingSystem":"Windows 10","applicationCategory":"http://schema.org/WebApplication","aggregateRating":{"@@type":"AggregateRating","ratingValue":"4.6","ratingCount":"8864"},"offers":{"@@type":"Offer","price":"1.00","priceCurrency":"USD"}}]
    </script>
    @RenderSection("Scripts", required: false)
    <div class="am-scroll-top"></div>
</body>
</html>
