@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}
<section>
    <div class="row">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>

        @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
     }
        <div class="card text-center bg-dark text-white mb-3">
            <div class="card-header">
                <h5>NOT FOUND 404 ERROR</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Sorry this page Does Not Exist!</h5>
                <div class="card-text">
                    <img alt="404" class="img-responsive img-fluid text-center center-block" src="https://d3n8k0cqgcsxxu.cloudfront.net/404.gif" />
                    <p> @T("Refesh this page or.")</p>
                    <p>@T("Look at the menu for the page you cannot find.")</p>
                    <p>Contact us on any page, and let us know of the error!</p>
                </div>
                <a href="/" class="btn btn-primary">Home Page</a>
            </div>
        </div>
        <h3>Development Mode</h3>
        <p>
            Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
        </p>
        <p>
            <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
        </p>
    </div>
</section>