@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}
<h2>About</h2>
<section id="about">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <h3>@ViewData["Message"]</h3>
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="row ">
                <h4 class="text-muted">About Mansbooks and Author Donald Boulton</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                Adding Stuff
            </div>
            <div class="col-md-4">
                <address>
                    Donald Boulton<br />
                    OKC Oklahoma, 73106<br />
                    <abbr title="Phone">Phone:</abbr>
                    405.977-8474
                </address>

                <address>
                    <strong>Support:</strong> <a href="mailto:donaldboulton@gmail.com">donaldboulton@gmail.com</a><br />
                    <strong>Subscriptions:</strong> <a href="mailto:donboulton@donboulton.com">donboulton@donboulton.com</a>
                </address>
            </div>
        </div>
    </div>
</section>
