@model Mansbooks.FormController.FormModel

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}
<section>
    <div class="container">
        <div class="col-md-12">
            <div class="row ">
                <h4 class="text-muted">Contact Form</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form class="form form-horizontal" asp-controller="FormController" asp-action="SendEmail" asp-route-returnurl="@ViewData["ReturnUrl"]" id="ContactForm" method="post">
                    <div asp-validation-summary="All"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Name" class="col-md-3 right sr-only">User Name:</label>
                                <div class="col-md-11">
                                    <input asp-for="Name" type="text" class="form-control form-control1" placeholder="Name (required *)" />
                                    <span asp-validation-for="Name"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Email" type="email" class="col-md-3 sr-only">Email:</label>
                                <div class="col-md-11">
                                    <input asp-for="Email" class="form-control form-control1" placeholder="Valid Email (required *)" />
                                    <span asp-validation-for="Email"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Message" class="col-md-3 sr-only">Your Message:</label>
                                <div class="col-md-11">
                                    <textarea asp-for="Message" rows="6" class="form-control form-control1" placeholder="Message (required *)"></textarea>
                                    <span asp-validation-for="Message"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="clearfix"></div>
                        <input id="ReturnUrl" name="ReturnUrl" type="hidden" value="" />
                        <input id="Id" name="Id" type="hidden" value="" />
                        <div class="g-recaptcha"
                             data-sitekey="6LeDCEAUAAAAAHli9WYua3IAAWa5rnslJasIIRGC"
                             data-callback="onSubmit"
                             data-size="invisible">
                        </div>
                        <div class="col-md-10">
                            <button id="sendMessage" class="g-recaptcha invisible-recaptcha btn btn-primary btn-xl text-uppercase" data-sitekey="6Le_8DAUAAAAAC2B902PFAI_HpazMMZ6vhTkaTAW" data-callback="submit" name="sendMessage" type="submit"><i class="fas fa-paper-plane"></i>&nbsp;Send</button>
                        </div>
                        <label class="sr-only">Keep this field blank</label>
                        <input id="honeypot" type="text" name="honeypot" value="" hidden>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <address>
                    Donald Boulton<br />
                    OKC Oklahoma, 73106<br />
                    <abbr title="Phone">Phone:</abbr>
                    405.977-8474
                </address>

                <address>
                    <strong>Support:</strong> <a href="mailto:donaldboulton@gmail.com">donaldboulton@gmail.com</a><br />
                    <strong>Subscriptions:</strong> <a href="mailto:donboulton@donboulton.com">donboulton@donboulton.com</a>
                </address>
            </div>
        </div>
    </div>
</section>

