@model Mansbooks.Models.Post

@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="media">
                <img class="d-flex mr-3" alt="" src="https://d13ie4yeey2dtq.cloudfront.net/pages/privacy.png" itemprop="PrimayImageOfPage" />
                <div class="media-body">
                    <h5 class="mt-0" itemprop="name">Privacy Statement</h5>
                    <div itemprop="description">Donald Boulton's Web Sites are comprised of various Web Pages and Web Sites controlled by and through donboulton.com.
                        <div>Comprised of web site's by Donald Boulton as a peronal Web Site as donboulton.com.</div>
                        <div>Basic Instructions Books While On Earth as bibwoe.com.</div>
                        <div>Mans Books of Life as mansbooks.com.</div>
                        <div> A Discussion on our Founding Father intents in to Publish Logic as publiuslogic.com.</div>
                    </div>

                </div>
            </div>
            <div itemprop="mainContentOfPage">
                <h4>Collection of your Personal Information</h4>
                <br />
                <p>If you have been offered our services through one of our marketing partners or affiliates (see &ldquo;Use of <a href="#Information" data-mce-="">Information</a>&rdquo; section below), we may share the information you enter with that partner or affiliate. To do so, we may use a technology called clear GIFs, which automatically and securely transfer the information you enter. In the future, we may also use other similar technologies on the site for the same purpose. If we do so, we will modify our privacy policy accordingly. See the &ldquo;<a href="#Notification of Changes" data-mce-="">Notification of Changes</a>&rdquo; section below.<br /> <br /> This donboulton.com website collects personally identifiable information, such as your e-mail address, name, home or work address or telephone number. donboulton.com also collects anonymous demographic information, which is not unique to you, such as your ZIP code, age, gender, preferences, interests and favorites.<br /> <br /> There is also information about your computer hardware and software that is automatically collected by donboulton.com. This information can include: your IP address, browser type, domain names, access times and referring Web site addresses. This information is used by donboulton.com for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the donboulton.com Web site.<br /> <br /> Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through donboulton.com public message boards, this information may be collected and used by others. Note: donboulton.com does not read any of your private online communications.<br /> <br /> donboulton.com encourages you to review the privacy statements of Web sites you choose to link to from donboulton.com so that you can understand how those Web sites collect, use and share your information. donboulton.com is not responsible for the privacy statements or other content on Web sites outside of the donboulton.com and donboulton.com family of Web sites.<br /> <a name="Information"></a></p>
                <h4>Use of your Personal Information</h4>
                <br />
                <p>This donboulton.com website collects and uses your personal information to operate the donboulton.com Web site and deliver the services you have requested. donboulton.com also uses your personally identifiable information to inform you of other products or services available from donboulton.com and its affiliates. donboulton.com may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.<br /> <br /> This donboulton.com website does not sell, rent or lease its customer lists to third parties. donboulton.com may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (e-mail, name, address, telephone number) is not transferred to the third party. In addition, donboulton.com may share data with trusted partners to help us perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to donboulton.com, and they are required to maintain the confidentiality of your information.<br /> <br /> This donboulton.com website does not use or disclose sensitive personal information, such as race, religion, or political affiliations, without your explicit consent.<br /> <br /> This donboulton.com website keeps track of the Web sites and pages our customers visit within donboulton.com, in order to determine what donboulton.com services are the most popular. This data is used to deliver customized content and advertising within donboulton.com to customers whose behavior indicates that they are interested in a particular subject area.<br /> This donboulton.com website will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on donboulton.com or the site; (b) protect and defend the rights or property of donboulton.com; and, (c) act under exigent circumstances to protect the personal safety of users of donboulton.com, or the public.</p>
                <br />
                <p><a name="Notification of Changes"></a><a name="Cookies"></a></p>
                <h4>Notification of Changes</h4>
                <p><a href="#Disabling Cookies" data-mce-=""><img width="140" height="140" class="pagesimg img-responsive" src="https://d13ie4yeey2dtq.cloudfront.net/pages/cookies.png" /></a></p>
                <h4>Due to recent EU law changes each website much explicitly state that they will be using cookies.</h4>
                <p>&nbsp;</p>
                <h4>Use of Cookies</h4>
                <br />
                <p>This donboulton.com website does use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a Web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.<br /> One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize donboulton.com pages, or register with donboulton.com site or services, a cookie helps donboulton.com to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same donboulton.com Web site, the information you previously provided can be retrieved, so you can easily use the donboulton.com features that you customized.<br /> You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the donboulton.com services or Web sites you visit. You have the ability to diable cookies at this donboulton.com website upon first your visit. If you accepted cookies at this time you need to clear your browser cookies for this domain, How to do this is <a href="#Disabling Cookies" data-mce-="">below</a>.</p>
                <br />
                <h4>Cookie Usage Across the Internet</h4>
                <br />
                <p>The cookies in use to deliver Google Analytics service are described in the table below.</p>
                <table class="pull-left">
                    <tbody>
                        <tr>
                            <td><strong>Cookie</strong></td>
                            <td><strong>Title</strong></td>
                            <td><strong>Description</strong></td>
                        </tr>
                        <tr>
                            <td>__utma<br /> __utmb<br /> __utmc<br /> __utmv<br /> __utmz</td>
                            <td>Google Analytics</td>
                            <td>
                                <p>These cookies are used to store information, such as what time your current visit occurred, whether you have been to the site before, and what site referred you to the web page.</p>
                                <p>These cookies contain no personally identifiable information but they will use your computer's IP address to know from where in the world you are accessing the Internet.</p>
                                <p>Google stores the information collected by these cookies on servers in the United States. Google may transfer this information to third-parties where required to do so by law, or where such third-parties process the information on Google's behalf.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <h4>Opt-out</h4>
                <p>In order to provide website visitors with more choice on how data is collected by Google Analytics, Google has developed the Google Analytics Opt-out Browser Add-on. The add-on communicates with the Google Analytics JavaScript (ga.js) to stop data being sent to Google Analytics. The Google Analytics Opt-out Browser Add-on does not affect usage of the website in any other way. A link to further information on the Google Analytics Opt-out Browser Add-on is provided below for your convenience.</p>
                <p><a href="http://tools.google.com/dlpage/gaoptout?hl=None" data-mce-="">http://tools.google.com/dlpage/gaoptout?hl=None</a></p>
                <p>For more information on the usage of cookies by Google Analytics please see the Google website. A link to the privacy advice for this product is provided below for your convenience.</p>
                <p><a href="http://www.google.com/analytics/learn/privacy.html" data-mce-="">http://www.google.com/analytics/learn/privacy.html</a></p>
                <br />
                <h4><a name="Disabling Cookies"></a>Disabling Cookies</h4>
                <br />
                <p>If you would like to restrict the use of cookies you can control this in your Internet browser. Links to advice on how to do this for the most popular Internet browsers are provided below for convenience and will be available for the Internet browser of your choice either online or via the software help (normally available via key F1).</p>
                <ul>
                    <li class="li" id="ie"><strong>Internet Explorer</strong><br /> <a title="Disabling cookies in Internet Explorer" href="http://windows.microsoft.com/en-GB/windows7/Block-enable-or-allow-cookies" data-mce-="">http://windows.microsoft.com/en-GB/windows7/Block-enable-or-allow-cookies</a></li>
                    <li class="li" id="chrome"><strong>Google Chrome</strong><br /> <a title="Disabling cookies in Google Chrome" href="https://support.google.com/chrome/bin/answer.py?hl=en-GB&amp;answer=95647&amp;p=cpn_cookies" data-mce-="">https://support.google.com/chrome/bin/answer.py?hl=en-GB&amp;answer=95647&amp;p=cpn_cookies</a></li>
                    <li class="li" id="firefox"><strong>Mozilla Firefox</strong><br /> <a title="Disabling cookies in Mozilla Firefox" href="http://support.mozilla.org/en-US/kb/Blocking cookies" data-mce-="">http://support.mozilla.org/en-US/kb/Blocking cookies</a></li>
                    <li class="li" id="safari"><strong>Apple Safari</strong><br /> <a title="Disabling cookies in Apple Safari" href="http://docs.info.apple.com/article.html?artnum=32467" data-mce-="">http://docs.info.apple.com/article.html?artnum=32467</a></li>
                </ul>
                <br />
                <h4>Security of your Personal Information</h4>
                <br />
                <p>This donboulton.com website secures your personal information from unauthorized access, use or disclosure. donboulton.com secures the personally identifiable information you provide on computer servers in a controlled, secure environment, protected from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other Web sites, it is protected through the use of encryption, such as the Secure Socket Layer (SSL) protocol.</p>
                <br />
                <h4>Changes to this Statement</h4>
                <br />
                <p>This donboulton.com website will occasionally update this Statement of Privacy to reflect company and customer feedback. donboulton.com encourages you to periodically review this Statement to be informed of how donboulton.com is protecting your information.</p>
                <br />
                <h4>Contact Information</h4>
                <br />
                <p>This donboulton.com website welcomes your comments regarding this Statement of Privacy. If you believe that donboulton.com has not adhered to this Statement, please contact donboulton.com at <a title="Mail to: donboulton@donboulton.com" href="mailto:donboulton@donboulton.com?subject=Privacy Statement&amp;body=Privacy policy response" data-mce-="">donboulton@donboulton.com</a>. We will use commercially reasonable efforts to promptly determine and remedy the problem.</p>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Contact">Back to Contact</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
